# ============================== Mac OS ============================== #
# General
.DS_Store
.AppleDouble
.LSOverride

# ============================== Python ============================== #
# Jupyter Notebook
.ipynb_checkpoints
